  <div id="messages"></div>
  
  <input type="text" name="nombreUsuario" id="nombreUsuario" placeholder="Introduzca su nombre">
  <input type="text" name="" id="mensaje" placeholder="Cuentanos algo...">
  <button type="button" onclick="sendMessage()">Enviar</button>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/index.js"></script>