
<div id="appChat" class="seccion">
  <h2 class="azul">Centro de mensajes</h2>
  <div class="form">
    <input required type="email" name="nombreUsuario" id="nombreUsuario" placeholder="Introduzca su mail">
    <div id="messages"></div>
    <input required type="text" name="" id="mensaje" placeholder="Ingrese un mensaje...">
    <button type="button" onclick="sendMessage()">Enviar</button>
  </div>
</div>
